NYANSAPO_DB_PROVIDER=postgres
NYANSAPO_DB_URL=
NYANSAPO_DB_NAME=
NYANSAPO_DB_HOST=
NYANSAPO_DB_PORT=5432
NYANSAPO_DB_USER=
NYANSAPO_DB_PASSWORD=
NYANSAPO_DB_DATABASE=
NYANSAPO_DB_TLS=true
NYANSAPO_DB_READ_ONLY=true
